@page "/servers/{id:int}"

@inject NavigationManager NavigationManager

<h3>EditServer</h3>
<br />
<br />

@if (server != null)
{
	<EditForm Model="server" FormName="formServer" OnValidSubmit="Submit">
		<DataAnnotationsValidator></DataAnnotationsValidator>
		<ValidationSummary></ValidationSummary>

		<InputNumber @bind-Value="server.ServerId" hidden></InputNumber>

		<div class="row mb-3">
			<div class="col-2">
				<label for="Name" class="col-form-label">Name</label>
			</div>
			<div class="col-6">
				<InputText id="Name" class="form-control" @bind-Value="server.Name"></InputText>
			</div>
		</div>
		<div class="col">
			<ValidationMessage For="() => server.Name"></ValidationMessage>
		</div>

		<div class="row mb-3">
			<div class="col-2">
				<label for="City" class="col-form-label">City</label>
			</div>
			<div class="col-6">
				<InputText id="City" class="form-control" @bind-Value="server.City"></InputText>
			</div>
			<div class="col">
				<ValidationMessage For="() => server.City"></ValidationMessage>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-2">
				<label class="col-form-label">Online</label>
			</div>
			<div class="col-6">
				<InputCheckbox id="Server" class="form-check-input" @bind-Value="server.IsOnline"></InputCheckbox>
			</div>
		</div>
		<br />
		<button type="submit" class="btn btn-primary">Update</button>
		&nbsp;
		<a href="servers" class="btn btn-primary">Close</a>
	</EditForm>
}
else				
{
	<p>Server not found</p>
}
<br />



@code {

	[Parameter]
	public int Id { get; set; }

	[SupplyParameterFromForm(FormName = "formServer")]
	private Server? server { get; set;}

	protected override void OnParametersSet()
	{
		server ??= ServersRepository.GetServerById(this.Id);
	}

	private void Submit()
	{
		if (server != null)
		{
			ServersRepository.UpdateServer(server.ServerId, server);
		}

		NavigationManager.NavigateTo("servers");
	}

}
