@page "/servers"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br/>
<br/>

<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelection" @rendermode="InteractiveServer"></CityListComponent>

<br />

<SearchbarComponent @ref="searchBarComponent" SearchCallback="HandleSearchServer">

</SearchbarComponent>

<br/>

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@this.selectedCity"
    SearchFilter="@searchFilter">
</ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {

	private string selectedCity = "Toronto";
	private string searchFilter = "";

	private CityListComponent? cityListComponent;
	private SearchbarComponent? searchBarComponent;
   
    
    
    private void HandleSearch()
    {
       // this.servers = ServersRepository.SearchServers(serverFilter);

        //this.selectedCity = string.Empty;
    }

	private void HandleCitySelection(string cityName)
	{
		selectedCity = cityName;

		this.searchFilter = string.Empty;

		searchBarComponent?.ClearSearch();
	}

	private void HandleSearchServer(string searchFilter)
	{
		this.searchFilter = searchFilter;

		cityListComponent?.ClearSelection();

	}

}
