@page "/todo"

@rendermode InteractiveServer



<h3>Todo</h3>
<br />

<p>
	<button 
	class="btn btn-primary"
	type="button"
	@onclick="AddTask">
		Add Task
	</button>
</p>

<br />


@if (items != null && items.Count > 0)
{
	<ul class="list-unstyled">
		@foreach (var item in items)
		{
			<li @key="item.Id">
				<div class="row mb-1">
					<div class="col-1">
						<input type="checkbox" 
						class="form-check-input"
						style="vertical-align:middle"
						@bind-value="item.IsCompleted"
						checked="@item.IsCompleted" />
					</div>
					<div class="col">
						<input type="text"
						class="form-control border-0"
						style="@(item.IsCompleted ? "text-decoration: line-through;" : "")"
						@bind-value="@item.Name" />
					</div>
					<div class="col">
						@if (item.IsCompleted)
						{
							<text>Completed at: @item.DateCompleted.ToLongDateString</text>
						}
					</div>
                    

                    
                </div>
            </li>
        }
    </ul>
}



@code {

    private List<ToDoItem> items = ToDoItemsRepository.GetItems();

	private void AddTask()
	{
		ToDoItemsRepository.AddItem(new ToDoItem
			{
				Name = "New Task",
			});
		items = ToDoItemsRepository.GetItems();
	}

	// check the task checkbox to finish the task and put stripe threw it
	private void FinishTask(ToDoItem item)
	{
		item.IsCompleted = !item.IsCompleted;
		items = ToDoItemsRepository.GetItems();
	}



}
